
.psi {
    background-color: #ececec;
    padding: 20px;
}

.indicator {
    display: flex;
}

.reading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reading-detail {
    flex: 1;
}

.reading-detail p {
    font-size: 12px;
    margin-top: 5px;
}

.descriptor {
    font-size: 24px;
}
.reading {
    flex: 1;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
}