
.psi {
    background-color: #ececec;
    padding: 20px;
}

h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 36px;
}


.reading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reading-detail {
    flex: 1;
}

.reading-detail p {
    font-size: 12px;
    margin-top: 5px;
}

.descriptor {
    font-size: 24px;
}

.reading {
    flex: 1;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
}

.indicator {
    display: flex;
}

.indicator div {
    flex: 1;
    height: 20px;
    border: 1px solid #ececec;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}