.two-columns {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
}

.psi h2 {
    margin: 0;
    font-weight: 800;
    font-size: 60px;
    line-height: 1;
    flex: 1;
}

.reading {
    flex: 1;
    font-size: 60px;
    text-align: right;
    line-height: 50px;
}

.footnote {
    text-align: right;
}

@media only screen and (max-width: 700px) {
    .psi h2 {
        font-size: 40px;
    }
}